.all-sign {
  margin-left: 505px;
  height: 700px;
  background: #252222;
  width: 600px;
}
.txt-sign-in {
  margin-left: 250px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  display: flex;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #885809;
  width: 80px;
  height: 24px;
}
.txt-email {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #dcd0bd;
  margin-left: 110px;
  margin-top: 100px;
}
.email {
  background: #faf8f2;
  width: 350px;
  height: 35px;
  margin-left: 110px;
}
.txt-password {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #dcd0bd;
  margin-left: 110px;
  margin-top: 100px;
}
.password {
  background: #faf8f2;
  width: 350px;
  height: 35px;
  margin-left: 110px;
}
.loggin {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #dcd0bd;
  background: #885809;
  border-radius: 10px;
  width: 180px;
  height: 35px;
  margin-left: 200px;
  margin-top: 72px;
}
.linkkk{
    color: white;
}
.txt-back{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 15px;
    color: #885809;
    margin-left: 40px;
    margin-top: 30px;
}