.glav {
  width: 1510px;
  height: 1000px;
}
.header {
  width: 176px;
  height: 41px;
  margin-left: 606px;
  margin-top: -66px;
}
.q {
  color: transparent;
}
.header1 {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  text-align: right;
  color: #e09145;
}
.btn-menu{
  background-color: transparent;
  border: transparent ;
}
.menu {
  width: 34px;
  height: 0px;
  margin-left: 64px;
  margin-top: -936px;
}
.signin1 {
  background-color: transparent;
  width: 131px;
  height: 32px;
  border: 2px solid #e09145;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #e5e5e5;
}
.signin {
  margin-left: 1100px;
  margin-top: -25px;
}
.signup1 {
  background-color: transparent;
  width: 131px;
  height: 32px;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #e09145;
}
.signup {
  margin-left: 1300px;
  margin-top: -32px;
}
.text {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.1em;
  color: #e09145;
}