.all-inputs {
  text-align: center;
  margin-top: 100px;
}
.in1 {
  width: 400px;
  height: 30px;
  background-color: transparent;
}
.in2 {
  width: 400px;
  height: 30px;
  background-color: transparent;
  margin-top: 30px;
}
.in3 {
  width: 400px;
  height: 30px;
  background-color: transparent;
  margin-top: 30px;
}
.in4 {
  width: 400px;
  height: 30px;
  background-color: transparent;
  margin-top: 30px;
}
.in5 {
  width: 400px;
  height: 30px;
  background-color: transparent;
  margin-top: 30px;
}
.input-btn {
  margin-top: 30px;
}
.register-btn {
  background-color: transparent;
  color: #e09145;
  width: 200px;
  height: 30px;
  border: white solid 2px;
}
