.all-menu {
  background: #292c35;
  width: 330px;
  height: 720px;
  margin-top: -30px;
}
.menu-txt1 {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #e09145;
  margin-left: 30px;
}
.x {
  color: transparent;
}
.menu-x {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #e5e5e5;
  margin-left: 280px;
  width: 20px;
  margin-top: -88px;
}
.menu-hr {
  margin-top: -20px;
}
.menu-signin {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 51px;
  color: #e5e5e5;
  background-color: transparent;
  border: transparent;
  margin-left: 30px;
}
.menu-signup {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 51px;
  color: #e5e5e5;
  background-color: transparent;
  border: transparent;
  margin-left: 30px;
}
